# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sasa

# Redis
REDIS_URL=redis://localhost:6379

# Encryption
ENCRYPTION_KEY= # 32字节 hex 字符串，运行 openssl rand -hex 32 生成

# Auth
NEXTAUTH_SECRET= # 运行 openssl rand -base64 32 生成
NEXTAUTH_URL=http://localhost:3000

# Server
SERVER_PORT=4000
